@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  background: papayawhip;
  color: purple;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: center;
}

nav ul {
    display:flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 1em;
    padding: 1em;
}

.showlist {
    display:flex;
    flex-wrap: wrap;
}
.showlist li {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    list-style: none;
    text-align: center;
}
